<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contact us to explore various actions in the auto industry to increase your auto sales. We're here to help you reach your goals.">
    <title>Contact Us</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>

        h1 {
            font-size: 2.8rem;
            color: #343a40;
        }

        p {
            color: #6c757d;
        }
    </style>
</head>

<body>

    {% include 'nav.html' %}

    <div class="container mt-5">

        <h1 class="mb-5">🚗 Contact Us 📞</h1>
        <p>Looking to increase your sales in the auto industry? You're at the right place. We're experts in taking proactive actions to boost auto sales. Let's connect and discuss your needs. 🚀</p>

        <p>Feel free to contact us:</p>
        
        <p><a href="https://wa.me/1234567890" target="_blank" class="btn btn-success">Contact via Whatsapp</a></p>
        <p><a href="mailto:info@autoactionhub.com" target="_blank" class="btn btn-primary">Contact via Email</a></p>

    </div>

    {% include 'footer.html' %}

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
