<!-- footer.html -->
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .powered-by {
            font-size: 0.8rem;
            text-align: center;
            margin-top: 10px;
        }
        .github-link {
            color: #000;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .github-link:hover {
            color: #000;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="footer bg-light p-4">
        <div class="container text-center d-flex justify-content-center">
            <!-- Add the GitHub link with the GitHub symbol -->

            <div class="powered-by" style="margin: 5px;">
                Powered by <a href="https://hjLabs.in">hjLabs.in</a>
            </div>
            <a class="github-link" href="https://github.com/hemangjoshi37a/AutoActionHub.com" style="margin: 5px;">
              <svg height="24" viewBox="0 0 16 16" width="24" fill="#000" >
                  <path
                      d="M8 0C3.582 0 0 3.582 0 8c0 3.534 2.284 6.524 5.438 7.586.396.076.532-.172.532-.382v-1.403c-2.22.489-2.686-1.073-2.686-1.073-.363-.924-.89-1.174-.89-1.174-.73-.498.057-.488.057-.488.89.064 1.362.678 1.362.678.8 1.365 2.098.983 2.618.747.075-.578.293-.96.527-1.18-1.816-.265-3.73-1.175-3.73-5.215 0-1.144.404-2.074 1.074-2.818-.104-.263-.476-1.274.109-2.66 0 0 .862-.278 2.703 1.051A9.572 9.572 0 0 1 8 3.228c.853.003 1.703.118 2.504.347 1.841-1.243 2.703-.991 2.703-.991.55 1.335.203 2.31.104 2.576.635.695 1.074 1.573 1.074 2.818 0 4.14-2.732 5.036-5.344 5.25.34.3.64.891.64 1.792v2.75c0 .193.14.426.532.382C14.416 15.182 16 12.786 16 8c0-4.418-3.582-8-8-8zm2.482 12.092c-.074.204-.286.381-.521.379H6.04c-.238.002-.45-.176-.523-.382l-.48-1.614c-.069-.23.013-.478.196-.636.183-.158.431-.18.64-.064l.888.488s.235-.627 1.204-.627c.968 0 1.206.628 1.206.628l.887-.488c.21-.116.457-.094.64.064.183.158.265.406.196.636l-.479 1.614z"
                  ></path>
              </svg>
          </a>
          
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</body>

</html>
