<!-- footer.html -->
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .powered-by {
            font-size: 0.8rem;
            text-align: center;
            margin-top: 10px;
        }
        .github-link {
            color: #000;
            text-decoration: none;
        }
        .github-link:hover {
            color: #000;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="footer bg-light p-4">
        <div class="container text-center">
            <!-- Add the GitHub link with the GitHub symbol -->
            <a class="github-link" href="https://github.com/hemangjoshi37a/AutoActionHub.com">
                <svg height="24" viewBox="0 0 16 16" width="24" fill="#000">
                    <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.08.55-.17.55-.38v-1.34C3.67 14.38 3.27 13 3.27 13c-.44-1.12-1.07-1.42-1.07-1.42-.88-.6.07-.59.07-.59 1 .07 1.53 1.03 1.53 1.03.9 1.54 2.36 1.1 2.94.84.09-.65.35-1.1.63-1.35-2.2-.25-4.52-1.11-4.52-4.94 0-1.09.39-1.98 1.03-2.68-.1-.26-.45-1.27.1-2.64 0 0 .84-.27 2.75 1.02A9.57 9.57 0 0 1 8 3.25c.85.004 1.7.12 2.5.35 1.91-1.29 2.75-1.02 2.75-1.02.56 1.37.21 2.38.1 2.64.64.7 1.03 1.59 1.03 2.68 0 3.85-2.32 4.69-4.54 4.94.36.31.68.92.68 1.86v2.75c0 .21.15.46.55.38A8.02 8.02 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
                GitHub
            </a>
            <div class="powered-by">
                Powered by <a href="https://hjLabs.in">hjLabs.in</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</body>

</html>
